@charset "UTF-8";
/* 본고딕 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.otf") format("opentype");
}

@font-face {
  font-family: 'Lato TR';
  font-style: normal;
  font-weight: 100;
  src: local("Lato TR Hairline"), url("../fonts/LatoTR-Hairline.woff") format("woff");
}

@font-face {
  font-family: 'Lato TR';
  font-style: normal;
  font-weight: 200;
  src: local("Lato TR Light"), url("../fonts/LatoTR-Light.woff") format("woff");
}

@font-face {
  font-family: 'Lato TR';
  font-style: normal;
  font-weight: 300;
  src: local("Lato TR Regular"), url("../fonts/LatoTR-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Lato TR';
  font-style: normal;
  font-weight: 500;
  src: local("Lato TR Bold"), url("../fonts/LatoTR-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Lato TR';
  font-style: normal;
  font-weight: 900;
  src: local("Lato TR Black"), url("../fonts/LatoTR-Black.woff") format("woff");
}

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  src: local("Open Sans ExtraBold"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Iropke Batang';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IropkeBatangM.eot");
  src: url("../fonts/IropkeBatangM.eot?#iefix") format("embedded-opentype"), url("../fonts/IropkeBatangM.woff") format("woff"), url("../fonts/IropkeBatangM.ttf") format("truetype");
}
